@import './App';
@import './components/atoms/scratch-item/index';
@import './components/molecules/scratch-board/index';
@import './components/organisms/scratch-ticket/index';



html {
    width: 100%;
    height: 100%;

}

body {
    margin: 0;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}
